.body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #fafbf8;
  margin: 0;
  padding: 0;
}


/*Webservices styles*/
.service-container {
  display: flex;
  justify-content: stretch;
  align-items: center;
  padding: 0 1.5rem;
  gap: 20px;
  position: relative;
  background-color: #fafbf8;
}

.service-card1 {
  border: gray solid 1px;
  box-shadow: 0 6px 12px, rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  height: 760px;
  width: 700px;
  align-items: auto;
}

.service-card2 {
  border: gray solid 1px;
  box-shadow: 0 6px 12px, rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  height: 760px;
  width: 700px;
  align-items: auto;
}

.service-card3 {
  border: gray solid 1px;
  box-shadow: 0 6px 12px, rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  height: 760px;
  width: 700px;
  align-items: auto;
}

.footer {
  background-color: rgb(12, 19, 48);
  padding: 20px;
  color: rgb(165, 165, 165);
  height: auto;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 60px;
}

.footer-about {
  max-width: 350px;
}

.footer-links {
  display: flex;
  gap: 100px;
  max-width: 600px;
  margin-right: 60px;
}

.footer-list {
  list-style: none;
  padding: 0;
  line-height: 2;
}

.footer-list li:hover {
  color: rgb(81, 202, 81);
  cursor: pointer;
  transition: color 0.3s;
}

.more {
  max-width: 200px;
}

.footer-socials {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  background-color: none;
  text-decoration: none;
}

.social a {
  font-size: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  background: transparent;
  max-width: 20px;
  padding: 5px;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  border: gray solid 0.5px;
  width: 50px;
  height: 25px;
}

.social a:hover {
  background-color: rgb(81, 202, 81);
  transition: background-color 0.3s;
}

.copyright {
  text-align: center;
  font-size: 14px;
  color: rgb(133, 133, 133);
}